---
import CustomButton from '../CustomButton.astro'

const opciones = [
{name:'Servicios', url:'/servicios'},
{name:'Servicios', url:'/servicios'},
{name:'Servicios', url:'/servicios'},
{name:'Servicios', url:'/servicios'},
]
---

    <div class="flex">
      {opciones.map((opcion)=>(
    <div>
      <CustomButton name={opcion.name} url={opcion.url}/>
    </div>
    ))}
    <div>

