---

import FooterMenu from '../footer/FooterMenu.astro'
import NavbarLogo from '../navbar/NavbarLogo.astro'
---

<footer class="bg-slate-800 p-4 shadow-lg" >
  <div class="flex flex-row justify-between">
    <div class="">
      <NavbarLogo wsize={30} hsize={30} />
      <p>Direccion</p>
    </div>
    <div>
      Servicios
    </div>
    <div>
      Trabajos
    </div>
    <FooterMenu />
   <div>
      redes
    </div>
  </div>
</footer>
